.action-icons {
    display: flex;
    justify-content: center;
    margin: auto;
}

.action-icons i {
    margin: 5px;
}

#package-details {
    display: flex;
    justify-items: center;
    /* justify-content: space-around; */
}